#footer{
    background-color: #5959AB;
    height: 40px;
    color: #C0C0C0;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-style: italic;
    text-align:center;
    padding-top: 5px;
}
