<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SKLEP INTERNETOWY</title>

    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="body.css">
    <link rel="stylesheet" href="products.css">
</head>
<body>
<div id="all">
    <div th:replace="header.html::header"></div>
    <div id="user"><a th:text="${'Użytkownik: '+userLogged}"/></div>
    <div id="menu_content">

        <th:block th:if="${userRole==null || userRole=='USER'}">
            <div th:replace="menu.html::menu"></div>
        </th:block>
        <th:block th:if="${userRole=='SUPER_ADMIN'}">
            <div th:replace="menuSuperAdmin.html::menuSuperAdmin"></div>
        </th:block>
        <th:block th:if="${userRole=='ADMIN'}">
            <div th:replace="menuAdmin.html::menuAdmin"></div>
        </th:block>

        <div id="content">
            <h1>Szczegóły produktu</h1><hr>

            <div id="products">
                <form action="/products" method="post">
                    <input id="1" type="submit" value="Dodaj produkt" name="addProducts">
                    <input type="submit" value="Wyświetl wszysztkie produkty" name="showAllProducts">
                    <input type="submit" value="Znajdź produkty" name="filter">
                </form>
            </div>
            <div id="detailsProduct">
                    <p th:text="${'ID: '+productById.id}"></p>
                    <p th:text="${'Nazwa produktu: '+productById.name}"></p>
                    <p th:text="${'Cena produktu: '+productById.price+' zł'}"></p>
                    <p th:text="${'Ilość: '+productById.availability}"></p>
                    <p th:text="${'Produkt dostępny: '+productById.state}"></p>
                    <a th:href="${'/products/'+productById.id+'/'+productById.name}">EDYTUJ PRODUKT</a>
            </div>
        </div>
    </div>
    <div th:replace="footer.html::footer"></div>
</div>
</body>
</html>