<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SKLEP INTERNETOWY</title>
</head>
<body>
<div id="menu" th:fragment="menuSuperAdmin" >
    <h1>Main Menu</h1><hr>
    <a href="login"> 1. Logowanie/Rejestracja</a>
    <a href="products"> 2. Produkty</a>
    <a href=""> 3. Zamówienia</a>
    <a href="userList"> 4. Użytkownicy</a>
    <a href="userAdmin"> 5. Administratorzy</a>
    <a href="logout"> 6. Wyloguj</a>
    <a href="index"> 7. Strona główna</a>
</div>
</body>
</html>